/* From Uiverse.io by alexruix */ 

.loader {

  animation: loading-bounce 0.5s ease-in-out 4 alternate;
}


@keyframes loading-bounce {
  0% {
    transform: scale(1, 0.7);
  }

  40% {
    transform: scale(0.8, 1.2);
  }

  60% {
    transform: scale(1, 1);
  }

  100% {
    top: 30%;
  }
}

